<footer class="site-footer h-card">
  <script>
    var elms = document.getElementsByClassName( 'splide' );
    for ( var i = 0; i < elms.length; i++ ) {
      new Splide( elms[ i ], {
        gap: 0,
        padding: 0,
        }).mount();
    }
  </script>
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">

        <p>{{ site.description | escape }}</p>

      {%- if site.author %}
        <ul class="contact-list">
          {% if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {%- endif %}
        </ul>
      {%- endif %}
      </div>
      <div class="footer-col">
        Zapojení fotografové:
        <ul>
        {% for photog in site.data.photogs %}
        <li><a href="/fotografove/{{photog.slug}}.html">{{photog.name}}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>

    <div class="social-links">
      <ul class="social-media-list">
        <li><a rel="me" href="https://github.com/kubicek/fotkypomahaji" target="_blank" title="{{ social.github | escape }}"><svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg></a></li>
      </ul>
    </div>

  </div>

</footer>
