---
---

@import "minima/skins/{{ site.minima.skin | default: 'classic' }}";
@import "minima/initialize";
@import "splide.min.css";

h2 {
  font-weight: 800;
  margin-bottom: 30px;
}

.gallery {
  margin-bottom: 60px;
}

.bio {
  margin-bottom: 2em;
}

.description {
  padding: 1em;
}

.order {
margin-top: 2em;
text-align: center;

a.button {
  background-color: green;
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}

// a.button:hover {
//   background-color: #555;
// }

// a.button:active {
//   background-color: black;
// }

// a.button:visited {
//   background-color: #ccc;
// }

}

// .splide__slide__container {
//   margin-bottom: -3em;
// }

